<div layout-margin layout="row">
    <form name="addProduct" layout="column" flex="66">
      <md-input-container>
        <label>Product Description</label>
        <input name="description" ng-model="vm.product.description" required>
        <div ng-messages="addProduct.description.$error">
          <div ng-message="required">This field is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Product Code</label>
        <input name="productCode" ng-model="vm.product.code" required>
        <div ng-messages="addProduct.productCode.$error">
          <div ng-message="required">This field is required.</div>
        </div>
      </md-input-container>
        <md-chips
                  ng-model="vm.product.tasks" md-autocomplete-snap
                  md-on-add="vm.refreshUnselectedTasks()"
                  md-on-remove="vm.refreshUnselectedTasks()"
                  md-require-match="true">
          <md-autocomplete
              md-search-text="vm.searchText"
              md-items="item in vm.searchTasks(vm.searchText)"
              placeholder="Add Product Tasks">
            <span md-highlight-text="vm.searchText">{{item.description}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>{{$chip.description}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
        <div layout-align="start start">
            <md-button class="md-raised md-primary" ng-click="vm.submit()">Submit Product</md-button>
        </div>
    </form>

    <div layout="column" flex="33">
        <h4>Product Tasks</h4>
        <div ng-repeat="task in vm.product.tasks track by $index" layout-margin>
            {{ task.description }}
            <md-slider
                    aria-label="Select Time"
                    ng-model="task.completion_time"
                    md-discrete="true"
                    min="{{ task.min_completion_time }}"
                    max="{{ task.max_completion_time }}">
            </md-slider>
        </div>
    </div>

    <div layout="column" layout-align="start start" flex="33">
        <h2>Assign Tasks</h2>
        <div ng-repeat="task in vm.unselectedTasks track by $index" ng-click="vm.addTask(task)">
            {{ task.description }}
        </div>
        <md-button ui-sref="root.addTask">Add New Task</md-button>
    </div>

</div>
