<md-dialog aria-label="Login Modal" ng-cloak id="login-modal">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close_black_18x18</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Username</label>
          <input type="text" required ng-model="vm.username" />
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" required ng-model="vm.password" />
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="vm.doLogin()" style="margin-right:20px;">
        Login
      </md-button>
    </md-dialog-actions>
</md-dialog>