<md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Add Task</h2>
    </div>
</md-toolbar>
<div layout-margin layout="row">
    <form name="addProduct" layout="column" flex="66">
      <md-input-container>
        <label>Task Description</label>
        <input name="taskDescription" ng-model="vm.description" required>
      </md-input-container>
      <md-input-container>
        <label>Task Abbreviation</label>
        <input name="taskAbbr" ng-model="vm.abbreviation" required>
      </md-input-container>
      <md-input-container>
        <label>Required Expertise Level</label>
        <input name="expertiseLevel" ng-model="vm.expertiseLevel" required>
      </md-input-container>
      <md-input-container>
        <label>Max Time To Complete (mins)</label>
        <input name="maxTime" ng-model="vm.maxCompletionTime" required>
      </md-input-container>
      <md-input-container>
        <label>Min Time To Complete (mins)</label>
        <input name="minTime" ng-model="vm.minCompletionTime" required>
      </md-input-container>
      <md-input-container>
        <label>Cost</label>
        <input name="cost" ng-model="vm.cost" required>
      </md-input-container>
    </form>
</div>

<md-button class="md-raised md-primary" ng-click="vm.publishTask()">Publish Task</md-button>
