<md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Edit {{ vm.job.description }}</h2>
    </div>
</md-toolbar>

<div layout-margin>
    <h3>Job Tasks</h3>
    <div ng-repeat="task in vm.job.job_tasks track by $index">
        <md-button class="md-raised" ng-click="vm.toggleTask(task)">{{ vm.taskToggleText(task) }}</md-button>
        <span ng-style="vm.getTaskStyle(task)">{{ task.description }}</span>
    </div>
</div>

<div layout-margin>
    <h3>Job Details</h3>
      <md-input-container>
          <label>Job Type</label>
          <md-select ng-model="vm.job.type_id">
              <md-option ng-repeat="type in vm.jobTypes" value="{{ type.id }}">
                  {{ type.description }}
              </md-option>
          </md-select>
      </md-input-container>
      <md-input-container>
          <label>Job Status</label>
          <md-select ng-model="vm.job.status_id">
              <md-option ng-repeat="status in vm.jobStatuses" value="{{ status.id }}">
                  {{ status.description }}
              </md-option>
          </md-select>
      </md-input-container>
</div>

<div layout="row" layout-margin>
    <md-button class="md-raised md-primary" ui-sref="home">Done</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.updateJobDescription()">Update Job Description</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.deleteJob()">Delete Job</md-button>
</div>

