<div layout-margin layout="column">
    <h3>Job Product:</h3>
    <div layout-margin>
        <div><b>Product Name:</b> {{ vm.jobProduct.description }}</div>
        <div><b>Product Code:</b> {{ vm.jobProduct.code }}</div>
    </div>

</div>

<div layout-margin>
    <h3>Job Tasks</h3>
    <div ng-repeat="task in vm.job.job_tasks track by $index">
        <md-button class="md-raised" ng-click="vm.toggleTask(task)">{{ vm.taskToggleText(task) }}</md-button>
        <span ng-style="vm.getTaskStyle(task)">{{ task.description }}</span>
    </div>
</div>

<div layout-margin layout="column">
    <h3 layout-margin>Job Details</h3>
      <md-input-container>
        <label>Job Description</label>
        <input ng-model="vm.job.description" required>
      </md-input-container>
      <md-input-container>
          <label>Job Type</label>
          <md-select ng-model="vm.job.type_id">
              <md-option ng-repeat="type in vm.jobTypes" value="{{ type.id }}">
                  {{ type.description }}
              </md-option>
          </md-select>
      </md-input-container>
      <md-input-container>
          <label>Job Status</label>
          <md-select ng-model="vm.job.status_id">
              <md-option ng-repeat="status in vm.jobStatuses" value="{{ status.id }}">
                  {{ status.description }}
              </md-option>
          </md-select>
      </md-input-container>
      <md-checkbox ng-model="vm.job.rework">Is Rework</md-checkbox>
</div>

<div layout="row" layout-margin>
    <md-button class="md-raised md-primary" ui-sref="root.home">Cancel</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.updateJob()">Update Job</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.deleteJob()">Delete Job</md-button>
</div>

