<md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Admin Welcome Page</h2>
    </div>
</md-toolbar>
<div layout-margin>
    <div layout="row">
        Welcome {{ vm.user.name }}
    </div>
    <md-divider flex></md-divider>

    <div layout="row" layout-margin>
        <div flex="66">
            <h2>
                Production Schedule
            </h2>
            <md-list ng-show="vm.jobs.length">
                <md-list-item ng-repeat="job in vm.jobs">
                    {{ job.description }}
                    <md-progress-linear md-mode="determinate" value="{{ vm.jobService.getProgress(job) * 100 }}"></md-progress-linear>
                </md-list-item>
            </md-list>
            <div ng-show="vm.jobs.length == 0" layout-margin>
                You don't currently have any scheduled Jobs
            </div>
            <md-divider></md-divider>
            <md-button class="md-raised md-primary" ui-sref="addJob">Add Job</md-button>
        </div>

        <div flex="33">
            <h2>
                Products
            </h2>
            <md-list ng-show="vm.products.length">
                <md-list-item ng-repeat="product in vm.products">
                    {{ product.description }}
                </md-list-item>
            </md-list>
            <div ng-show="vm.products.length == 0" layout-margin>
                You don't currently have any listed products
            </div>
            <md-divider></md-divider>
            <md-button class="md-raised md-primary" ui-sref="addProduct">Add Product</md-button>
        </div>
    </div>
</div>


