<div layout-margin>
    <div>
        Welcome {{ vm.user.name }}
    </div>
    <md-divider></md-divider>
</div>

<div layout-margin>
    <h2>
        Production Schedule
    </h2>
    <md-list ng-show="vm.jobs.length">
        <md-list-item flex layout="column"  ng-repeat="job in vm.jobs track by $index">
            <md-divider></md-divider>
            <div layout-margin style="width: 100%" layout="row" layout-align="start center">
                <div flex="30" layout="column">
                    <div layout="row" layout-align="start center" ng-click="vm.editJob(job)">
                        <h3>{{ job.description }}</h3>
                    </div>
                    <h5>Job Details</h5>
                    <div layout="row" layout-align="start center">
                        <span>Job Status:</span>
                        <p layout-margin>{{ job.status.description }}</p>
                    </div>
                    <div layout="row" layout-align="start center">
                        <span>Is Rework:</span>
                        <p layout-margin>{{ vm.isRework(job) }}</p>
                    </div>
                    <h5>Product Details</h5>
                    <div layout="row" layout-align="start center">
                        <span>Product Description:</span>
                        <p layout-margin>{{ job.product.description }}</p>
                    </div>
                    <div layout="row" layout-align="start center">
                        <span>Product Code:</span>
                        <p layout-margin>{{ job.product.code }}</p>
                    </div>
                </div>
                <div flex="60" layout="column">
                    <div layout-margin>Total Job Time: {{ vm.getTotalJobTime(job) }} (mins)</div>
                    <div layout-margin>Remaining Job Time: {{ vm.getJobTimeRemaining(job) }} (mins)</div>
                    <md-divider></md-divider>
                    <h4 layout-margin>Overall Progress: {{ vm.getJobProgress(job) * 100 }}%</h4>
                    <md-progress-linear md-mode="determinate" value="{{ vm.getJobProgress(job) * 100 }}"></md-progress-linear>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div ng-show="vm.jobs.length == 0" layout-margin>
        You don't currently have any scheduled Jobs
    </div>
    <md-button class="md-raised md-primary" ng-click="vm.addJob()">Add Job</md-button>
</div>
