<md-dialog aria-label="Update Description" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change Job Description</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon class="material-icons" aria-label="Close dialog">close_black_18x18</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          <md-input-container>
            <label>New Decription</label>
            <input type="text" ng-model="vm.newDescription" required>
          </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="vm.updateDescription()" style="margin-right:20px;">
        Update Description
      </md-button>
    </md-dialog-actions>
</md-dialog>