{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="jupiter">
<head>
    <meta charset="UTF-8">
    <title>Jupiter</title>
    <script src="{% static "jupiter-bundle.js" %}"></script>
    <link href="{% static "material-icons.css" %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "angular-material-1.0.7-min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "base.css" %}">
</head>
<body layout="row" ng-cloak>
    <md-content flex>
        <div ui-view="header"></div>
        <div ui-view="body"></div>
    </md-content>
</body>
</html>